# Environments
venv/
env/
ENV/

# Python cache
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment Variables
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
